    /* Font - part start #--  */
    .fira-sans-thin {
        font-family: "Fira Sans", serif;
        font-weight: 100;
        font-style: normal;
    }

    .fira-sans-extralight {
        font-family: "Fira Sans", serif;
        font-weight: 200;
        font-style: normal;
    }

    .fira-sans-light {
        font-family: "Fira Sans", serif;
        font-weight: 300;
        font-style: normal;
    }

    .fira-sans-regular {
        font-family: "Fira Sans", serif;
        font-weight: 400;
        font-style: normal;
    }

    .fira-sans-medium {
        font-family: "Fira Sans", serif;
        font-weight: 500;
        font-style: normal;
    }

    .fira-sans-semibold {
        font-family: "Fira Sans", serif;
        font-weight: 600;
        font-style: normal;
    }

    .fira-sans-bold {
        font-family: "Fira Sans", serif;
        font-weight: 700;
        font-style: normal;
    }

    .fira-sans-extrabold {
        font-family: "Fira Sans", serif;
        font-weight: 800;
        font-style: normal;
    }

    .fira-sans-black {
        font-family: "Fira Sans", serif;
        font-weight: 900;
        font-style: normal;
    }

    .fira-sans-thin-italic {
        font-family: "Fira Sans", serif;
        font-weight: 100;
        font-style: italic;
    }

    .fira-sans-extralight-italic {
        font-family: "Fira Sans", serif;
        font-weight: 200;
        font-style: italic;
    }

    .fira-sans-light-italic {
        font-family: "Fira Sans", serif;
        font-weight: 300;
        font-style: italic;
    }

    .fira-sans-regular-italic {
        font-family: "Fira Sans", serif;
        font-weight: 400;
        font-style: italic;
    }

    .fira-sans-medium-italic {
        font-family: "Fira Sans", serif;
        font-weight: 500;
        font-style: italic;
    }

    .fira-sans-semibold-italic {
        font-family: "Fira Sans", serif;
        font-weight: 600;
        font-style: italic;
    }

    .fira-sans-bold-italic {
        font-family: "Fira Sans", serif;
        font-weight: 700;
        font-style: italic;
    }

    .fira-sans-extrabold-italic {
        font-family: "Fira Sans", serif;
        font-weight: 800;
        font-style: italic;
    }

    .fira-sans-black-italic {
        font-family: "Fira Sans", serif;
        font-weight: 900;
        font-style: italic;
    }

    /* Font - part finish #--  */

    /* * --# Share class - part start #--  */

    .all-btn-green {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background-color: #006A50;
        color: white;
        margin: 0px;
        border: none;
        border-radius: 8px;
        padding: 13px 26px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .all-btn-green:hover {
        background-color: rgba(124, 124, 124, 0.752);
        color: #006249;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
        border: none;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    /* --# Share class - part finished #--  */

    /* --# nav - part start #--  */
    .nav-title {
        color: #0E0E0E;
        font-weight: bold;
        font-size: 32px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .nav-title:hover {
        text-align: center;
        text-decoration: none;
        font-size: 32px;
        background-color: none;
        color: #006A50;
        padding: 0px 15px;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .nav-btn {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background-color: none;
        color: #006A50;
        border: 1px #006A50 solid;
        border-radius: 8px;
        padding: 13px 26px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .nav-btn-hov:hover {
        background-color: #006A50;
        color: #C6E4D6;
        border: none;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 24px 160px;
    }

    nav ul li {
        list-style: none;
    }

    nav ul li a {
        text-decoration: none;
    }

    /* --# nav - part finish #--  */


    .banner-main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #C6E4D6;
        border-radius: 24px;
        margin: 20px 160px;
        padding: 80px 100px;
    }

    .banner-size {
        display: block;
    }

    .banner-title {
        font-size: 24px;
        color: #0E0E0E;
        opacity: 50%;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .banner-title:hover {
        font-size: 24.5px;
        color: #0E0E0E;
        opacity: 80%;
        border: none;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .banner-info {
        font-size: 56px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .banner-info:hover {
        font-size: 56.5px;
        color: #0E0E0E;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .banner-dp {
        max-height: 400px;
        max-width: 474.03px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .banner-dp:hover {
        max-height: 400.5px;
        max-width: 474.08px;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    /* --# banner - part finish #--  */

    body {
        background-color: #F1F1F3;
        color: #0E0E0E;
    }

    main {
        max-width: 1140px;
        margin: 0 auto;
    }

    .sec-tb-gap {
        margin-top: 80px;
        text-align: justify;
    }


    .vision-title {
        font-size: 40px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .vision-title:hover {
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);

    }

    .vision-box {
        display: flex;
        justify-content: space-around;
        gap: 24px;
    }

    .vision-box-pad-1 {
        padding: 32px;
        background-color: rgba(84, 144, 245, .20);
        border-radius: 16px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .vision-box-pad-1:hover {
        background-color: rgba(19, 47, 96, 0.5);
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);

    }

    .vision-box-pad-2 {
        padding: 32px;
        background-color: #C6E4D6;
        border-radius: 16px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .vision-box-pad-2:hover {
        background-color: rgba(19, 47, 96, 0.5);
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .vision-box-pad-3 {
        padding: 32px;
        background-color: #F7EBCF;
        border-radius: 16px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);

    }

    .vision-box-pad-3:hover {
        background-color: rgba(19, 47, 96, 0.5);
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .card-img-size {
        max-height: 64px;
        max-width: 64px;
    }

    .card-title {
        font-size: 20px;
        opacity: 80%;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);

    }

    .card-title:hover {
        font-size: 21px;
        opacity: 85%;

        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }


    .card-info {
        font-size: 16px;
        opacity: 70%;
    }

    .blue-btn {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background-color: #5490F5;
        color: white;
        margin: 0px;
        border: none;
        border-radius: 8px;
        padding: 13px 26px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .blue-btn:hover {
        background-color: rgba(255, 255, 255, 0.58);
        color: #006249;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .green-btn {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background-color: #006A50;
        color: white;
        margin: 0px;
        border: none;
        border-radius: 8px;
        padding: 13px 26px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .green-btn:hover {
        background-color: rgba(255, 255, 255, 0.58);
        color: #006249;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .yellow-btn {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background-color: #FFC239;
        color: white;
        margin: 0px;
        border: none;
        border-radius: 8px;
        padding: 13px 26px;
        transition: transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .yellow-btn:hover {
        background-color: rgba(255, 255, 255, 0.58);
        color: #006249;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);

    }


    /* Recent News */
    .div-32-mar {
        margin-bottom: 32px;
    }

    .donate-padding {
        text-align: center;
        padding: 0px 88px;
    }


    .recent-news-pading {
        background-color: #FFFFFF;
        padding: 48px;
        border-radius: 24px;
    }

    .recent-flex {
        display: flex;
        text-align: justify;
        gap: 32px;
    }

    .satelite-img {
        max-width: 408px;
        max-height: 306px;
        border-radius: 24px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .satelite-img:hover {
        max-width: 411px;
        max-height: 309px;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .recent-news-title {
        font-size: 32px;
        opacity: 80px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .recent-news-title:hover {
        font-size: 35px;
        opacity: 83px;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .al-jaz-img {
        max-width: 134px;
        max-height: 40px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    }

    .al-jaz-img:hover {
        max-width: 137px;
        max-height: 43px;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .satelite-main {
        justify-content: space-between;
    }

    .space-div {
        display: block;
        gap: 32px;
    }



    /* Subscribe Newsletter */
    .Subscribe-bg {
        display: block;
        text-align: center;
        background-color: #C6E4D6;
        border-radius: 24px;
        padding: 80px 100px;
        text-align: center;
    }

    .subscribe-max-with {
        max-width: 600;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .sub-white-btn {
        max-width: 600px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background-color: #FFFFFF;
        color: rgb(14, 14, 14, .30);
        margin: 0px;
        border: none;
        border-radius: 8px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 18px 40px;

    }

    .sub-green-btn {
        max-width: 150px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background-color: #006A50;
        color: white;
        margin: 0px;
        border: none;
        border-radius: 8px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 18px 40px;
        transition: 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);

    }

    .sub-green-btn:hover {
        background-color: rgba(124, 124, 124, 0.752);
        color: #006249;
        cursor: pointer;
        transform: scale(1);
        transform: scale(1.02) translateY(-0.3rem);
    }

    .donate-btn-posssition {
        text-align: center;
    }

    input[type=text],
    select {
        max-width: 1032px;
        width: 95%;
        padding: 20px 40px;
        margin: 32px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .donate-padding {
        text-align: center;
        padding: 0px 88px;
    }